<!DOCTYPE html>
<html>
<head>
    <title>ex07_movies Data</title>
</head>
<body>
    <h1>ex07_movies Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Episode Number</th>
                <th>Title</th>
                <th>Opening Crawl</th>
                <th>Director</th>
                <th>Producer</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for item in data %}
                <tr>
                    <td>{{ item.episode_nb }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.opening_crawl }}</td>
                    <td>{{ item.director }}</td>
                    <td>{{ item.producer }}</td>
                    <td>{{ item.release_date }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No data available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>